@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --white-color: #fff;
  --dark-color: #252525;
  --pimary-color: #3b141c;
  --secondary-color: #f3961c;
  --light-pink-color: #faf4f5;
  --medium-gray-color: #ccc;
}

/* General styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
button,
input,
a {
  cursor: pointer;
}

/* ============================= HERO SECTION ============================= */

.hero-section {
  background-color: var(--pimary-color);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  color: var(--white-color);
  min-height: 100vh;
  padding: 2rem 1.5rem;
  text-align: center;
  gap: 2rem;
}

.hero-section img {
  width: 300px;
  max-width: 350px;
}

/* Text styling */
.description h2 {
  font-family: "Miniver", sans-serif;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.description h3 {
  margin: 0 auto 1.5rem auto;
  max-width: 25rem;
}

.description p {
  margin-bottom: 2rem;
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}

/* Buttons */
.description .btn {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.description button {
  padding: 10px;
  border-radius: 25px;
  border: none;
  width: 9rem;
  font-size: 0.9rem;
}

.description button:nth-child(1) {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.description button:nth-child(2) {
  background-color: var(--white-color);
  color: var(--pimary-color);
}

/* ============================= ABOUT SECTION ============================= */

.About-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1.5rem;
  text-align: center;
  gap: 1.5rem;
  color: var(--dark-color);
}
.About-us .img-cover {
  width: 250px;
  height: 250px;
}
.About-us img {
  height: inherit;
  width: inherit;
  border-radius: 120px;
}
.about-description {
  text-align: center;
}
.About-us h2::after {
  content: "";
  width: 4rem;
  height: 3px;
  display: block;
  background-color: var(--secondary-color);
  margin: 0 auto;
}
.About-us .a-text {
  max-width: 35rem;
  line-height: 1.6;
}

/* ===============================MENU SECTION ================================ */
.menu {
  background-color: #252525;
  font-family: "Poppins", sans-serif;
  padding: 2rem;
}
.menu h2 {
  text-align: center;
  color: white;
  text-transform: uppercase;
}
.menu h2::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: #f3961c;
  margin: 10px auto 0 auto;
  border-radius: 2px;
}

.product-listing {
  display: grid;
  color: white;
  margin: 20px;
  padding: 20px;
  text-align: center;
  align-items: center;
}

/*Mobile   Phones */
@media screen and (max-width: 480px) {
  .description .btn {
    flex-direction: column;
  }

  .description button {
    width: 100%;
  }
}

/* Tablets */
@media screen and (min-width: 600px) and (max-width: 825px) {
  .description h3,
  .description p {
    max-width: 30rem;
  }

  /* Menu section */
  .product-listing {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
}

/* Desktop */
@media screen and (min-width: 826px) {
  /* Hero section */
  .hero-section {
    flex-direction: row;
    text-align: left;
    padding: 4rem 6rem;
    justify-content: space-between;
  }

  .description {
    max-width: 35rem;
    align-items: flex-start;
  }

  .description h2,
  .description h3,
  .description p {
    text-align: left;
  }

  .description .btn {
    justify-content: flex-start;
  }

  .hero-section img {
    max-width: 950px;
  }
  /* About Us */
  .About-us {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: 4rem 6rem;
  }

  .About-us img .About-us .a-text {
    max-width: 40%;
  }
  /* Menu section */
  .product-listing {
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
  }
}
